<div (click)="onClickClose()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i (click)="onClickClose()" class="close icon"></i>
        <ng-content select="[modalTitle]"></ng-content>

        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="actions actions-default">
            <button (click)="onClickClose()" class="ui button">Default Close!</button>
        </div>
        <div class="actions">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</div>